<h1>Messaging: <%= @receiver.first_name %> </h1>
<br>
<h4>Conversation:</h4>
<br>

<% if @messages %>
<div id="messages">
<% @messages.each do |message| %>
     <%= render "direct_messages/message", message: message %>
<% end %>
</div>
<% end %>


<%= form_tag direct_messages_path  do %>
    <%= text_field_tag :message %>
    <%= hidden_field_tag "receiver_id", params[:second_id] %>
    <%= hidden_field_tag "direct_id", @direct_id %>
    <%= submit_tag "Send", data: { disable_with: false } %>
<% end %>
