<div class="container mt-3">
    <input type="hidden" id="receiver_id", value="<%= @receiver.id %>">
    <h1 class="text-center">Direct Chat with <%= @receiver.first_name %> </h1>
    <br>

    <div class="row d-flex justify-content-center">
        <div class="column col-md-9">
            <div class="message" id="message-scroll-bottom">
                <% if @messages %>
                    <div id="messages" class="ml-2 ">
                        <% @messages.each do |message| %>
                            <%= render "direct_messages/message", message: message %>
                        <% end %>
                    </div>
                <% end %>

                <div class="ml-2 " >

                    <%= form_tag direct_messages_path  do %>
                        <div class="form-group d-flex mr-2 ">

                            <%= text_field_tag :message, nil,  placeholder: 'Type message here...', class: 'form-control' %>
                            <%= hidden_field_tag "receiver_id", params[:second_id] %>
                            <%= hidden_field_tag "direct_id", @direct_id %>
                            <%= submit_tag "Send", class: "btn btn-primary ml-2", data: { disable_with: false } %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

