<h1>Login</h1>

<p> <%= flash[:alert] %> </p>


<%= form_tag sessions_path do |form| %>
  
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br>
    <%= submit_tag "Login" %>
<% end %>