<div class="container mt-3">
<h1 class="text-center">Group Chat: <%= @event.title %> </h1>
<br>
<br>

<div class="row d-flex justify-content-between">
    <div class="column col-md-8">
        <!-- display messages -->
        <div class="group-message message" id="message-scroll-bottom">
            <div class="added">
                <% if @messages %>
                <div id="messages", class="ml-2 mt-2 ", event_id="<%= @event.id %>">
                        <% @messages.each do |message| %>
                            <%= render "group_messages/message", message: message %>
                        <% end %>
                </div>
                <% end %>
                <!-- display message input box -->
                <div class="ml-2" >
                <%= form_tag group_messages_path  do %>
                    <div class="form-group d-flex mr-2 ">
                        <%= text_field_tag :message, nil,  placeholder: 'Type message here...', class: 'form-control'%>
                        <%= hidden_field_tag "event_id", params[:event_id] %>
                        <%= submit_tag "Send", class: "btn btn-primary ml-2", data: { disable_with: false }%>
                    </div>
                <% end %>
                </div>
            </div> <!-- added -->
        </div>
    </div>


    <div class="card column col-md-4 event-members">
        <div class="card-header">
            Members : <%= @members.length %>
        </div>
        <ul class="list-group list-group-flush">
            <% @members.each do |member| %>
                <li class="list-group-item d-flex justify-content-between"><a href="/users/<%=@user.id%>/direct_message/<%=member.id %>"><%= member.first_name%> <%=member.last_name %> </a>
                <% if @organizer && member != @user %>
                     <span class="ml-3"><%= button_to "Remove", "/events/#{@event.id}/organizer/#{member.id}/remove_member", :method => "get", class: "btn btn-outline-danger"%></span>
                <% end %>
                </li>

            <% end %>
        </ul>

<!-- -->
        <% if @organizer %>
            <%= form_for( :events, as: :email, url: "/events/#{@event.id}/organizer/add_member", method: :post, html: { class: "d-inline-flex p-2 bd-highlight"})  do |f| %>
                    <div class="form-group d-flex justify-content-center">
                        <%= f.text_field :email, placeholder: "User Email", class: "form-control" %>
                        <%= f.submit "Add", :class => "btn btn-primary ml-2", data: { disable_with: false }%>
                    </div>
                <% end %>
                <% if flash[:error] %>
                    <p style="color: red" class="text-center"><%= flash[:error] %></p>
                <% end %>
            <% end %>
    </div>
    </div>
</div>

<%= javascript_pack_tag 'message_scroll' %>