<div class="container-fluid">
<h1>Event: <%= @event.title %> </h1>
<br>
<br>

<div class="d-flex justify-content-between">
    <div class="column">
        <h4>Conversation:</h4>
        <br>
        <!-- display messages -->
        <div class="group-message">
        <% if @messages %>
        <div id="messages", event_id="<%= @event.id %>">
            <% @messages.each do |message| %>
                <%= render "group_messages/message", message: message %>
            <% end %>
        </div>
        <% end %>
        <!-- display message input box -->
        <%= form_tag group_messages_path  do %>
            <%= text_field_tag :message %>
            <%= hidden_field_tag "event_id", params[:event_id] %>
            <%= submit_tag "Send", data: { disable_with: false }%>
        <% end %>
        </div>
    </div>


    <div class="card column event-members"  style="width: 20rem;">
        <div class="card-header">
            Members : <%= @members.length %>
        </div>
        <ul class="list-group list-group-flush">
            <% @members.each do |member| %>
                <li class="list-group-item"><a href="/users/<%=@user.id%>/direct_message/<%=member.id %>"><%= member.first_name%> <%=member.last_name %> </a></li>
            <% end %>
        </ul>
        
<!-- -->
    <% if @organizer %>
    <%= form_for( :events, as: :email, url: "/events/#{@event.id}/organizer/add_member", method: :post, html: { class: "d-inline-flex p-2 bd-highlight"})  do |f| %>
            <div class="form-group d-flex">
                <%= f.text_field :email, placeholder: "User Email", class: "form-control" %>
                <%= f.submit "Add", :class => "btn btn-primary ml-2", data: { disable_with: false }%>
             </div>
        <% end %>
        <% if flash[:error] %>
            <p style="color: red"><%= flash[:error] %></p>
        <% end %>
    <% end %>
    </div>
    </div>
</div>