<h1>Event: <%= @event.title %> </h1>
<br>
<h4>Conversation:</h4>
<br>


<% if @messages %>
 <div id="messages">
    <% @messages.each do |message| %>
        <%= render "group_messages/message", message: message %>
    <% end %>
 </div>
<% end %>



<%= form_tag group_messages_path  do %>
    <%= text_field_tag :message %>
    <%= hidden_field_tag "event_id", params[:event_id] %>
    <%= submit_tag "Send" %>
<% end %>