<!DOCTYPE html>
<html>
  <head>
    <title>Meetbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
      <%= image_tag "logo.png", size: "30x30", class: "d-inline-block align-top", alt: "" %> Meetbrite </a>
      
      <div class="ml-auto">
        <a class="navbar-text nav-item mr-3 text-white" href="/events"> Events </a>

        <% if current_user %>
          <a class="navbar-text nav-item mr-3 text-white" href="/users/<%= current_user.id %>"> Profile </a>
          <a class="navbar-text nav-item text-white"a href="/logout"> Logout </a>
        <% else %>
          <a class="navbar-text nav-item mr-3 text-white"href="/signup"> Sign Up </a>
          <a class="navbar-text nav-item text-white" href="/login"> Login </a>
        <% end%>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
