<!DOCTYPE html>
<html>
  <head>
    <title>Meetbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Meetbrite</a>
  <% if session[:user] %>
    <span class="navbar-text"><a href="/logout">Logout</a></span>
    <% else %>
    <span class="navbar-text"><a href="/login"> Login  </a></span>
  <% end%>
</nav>
    <%= yield %>
  </body>
</html>
